<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color in 10 Minutes</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
</head>
<body class="special-gothic">

  <header>
    <h1>Color Theory 101</h1>
    <nav>
      <a href="/home.html">Home</a>
      <a href="/lessons.html">Lessons</a>
      <a href="/quiz1.html">Quiz</a>
      <a href="/mixing-game.html">Games</a>
      <a href="#">Palette</a>
      <a href="#">About</a>
    </nav>
  </header>

  <main>
    <img src="https://whitneymedia.org/assets/image/691943/large_pelton_1140.jpg" alt="Color Theory Example" width="350" height="500">
    <button class="start-button special-gothic" onclick="window.location.href='/lessons.html'">Start Lesson 1</button>
  </main>

</body>
</html>