<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Theory 101 - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  </head>

  <body class="special-gothic">

    <header>
      <h1>Color Theory 101</h1>
      <nav>
        <a href="{{ url_for('home') }}">Home</a>
          <div class="dropdown">
            <a href="#">Lessons</a>
            <div class="dropdown-content">
              <a href="{{ url_for('lesson', lesson_id=1) }}">Basics</a>
              <a href="{{ url_for('color_mix_lesson') }}">Color Mixing</a>
            </div>
          </div>          
        <a href="{{ url_for('quiz', question_id=1) }}">Quiz</a>
        <a href="{{ url_for('mixing_game') }}">Games</a>
      </nav>
    </header>
    <div class = "content">
      <main>
        <h3>Welcome to Color Theory 101</h3>
        <img src="https://whitneymedia.org/assets/image/691943/large_pelton_1140.jpg" alt="Agnes Pelton - Ahmi in Egypt"
             style = "margin-top: -2rem; margin-bottom: -3rem;">
          <p class = "caption"> Agnes Pelton, <i>Ahmi in Egypt</i></p>
        <!-- Use a link styled as a button or a form for GET -->
        <a href="{{ url_for('lesson', lesson_id=1) }}" class="start-button special-gothic">Start Lesson 1</a>
      </main>
    </div>
  </body>

</html>
