<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
  </head>

  <body class="special-gothic">
    <header>
      <h1>Color Theory 101</h1>
      <nav>
        <a href="{{ url_for('home') }}">Home</a>
          <div class="dropdown">
            <a href="#">Lessons</a>
            <div class="dropdown-content">
              <a href="{{ url_for('lesson', lesson_id=1) }}">Basics</a>
            </div>
          </div>          
        <a href="{{ url_for('quiz', question_id=1) }}">Quiz</a>
        <a href="{{ url_for('mixing_game') }}">Games</a>
      </nav>
    </header>
    <div class="content">
      <h1>Match the Target Color</h1>
      <p style = "text-align: center;">
        <a href="{{ url_for('lesson', lesson_id=1) }}" style = "text-align: center;"> For a refresher on color mixing, click here.</a>
      </p>
      <main class="mixing-game-container">
        <section class="mix-display">
          <div class="color-box-group">
            <div class="color-box target-color"></div>
            <p>Target</p>
          </div>
          <div class="color-box-group">
            <div class="color-box current-color" id="mix-target"></div>
            <p>Your Mix</p>
          </div>
        </section>

        <p id = "feedback"></p>

        <section class="pigment-options">
          <p style="text-align: center;">Drag pigments to 'Your Mix'.</p>
          <div class="pigments-grid">
            <button class="pigment red" data-color="red" draggable="true"></button>
            <button class="pigment redorange" data-color="#ff4400" draggable="true"></button>
            <button class="pigment orange" data-color="orange" draggable="true"></button>
            <button class="pigment yelloworange" data-color="#fbb400" draggable="true"></button>
            <button class="pigment yellow" data-color="yellow" draggable="true"></button>
            <button class="pigment yellowgreen" data-color="#bfff00" draggable="true"></button>
            <button class="pigment green" data-color="green" draggable="true"></button>
            <button class="pigment bluegreen" data-color="#009678" draggable="true"></button>
            <button class="pigment blue" data-color="blue" draggable="true"></button>
            <button class="pigment blueviolet" data-color="#8a2be2" draggable="true"></button>
            <button class="pigment purple" data-color="purple" draggable="true"></button>
            <button class="pigment redviolet" data-color="#c71585" draggable="true"></button>
            <button class="pigment white" data-color="white" draggable="true"></button>
            <button class="pigment black" data-color="black" draggable="true"></button>
          </div>
        </section>
      </main>

      <div class="mixing-game-controls">
        <button id="clear-mix" class="control-button">Clear</button>
        <button id="submit-mix" class="control-button">Submit</button>
        <button id="new-mix" class="control-button">New Target</button>
      </div>

    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
  </body>

</html>