<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title> <!-- Dynamic Title -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    </head>

    <body class="special-gothic">
        <header>
            <h1>Color Theory 101</h1>
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('lesson', lesson_id=1) }}">Lessons</a>
                <a href="{{ url_for('quiz', question_id=1) }}">Quiz</a>
                <a href="{{ url_for('mixing_game') }}">Games</a>
                <a href="#">Palette</a>
                <a href="#">About</a>
            </nav>
        </header>
        <div class="content">
            <h1>{{ title }}</h1> <!-- Dynamic Heading -->
            <p class = "question">Look at the painting below. What kind of color scheme was used here?</p>

            <div>
                <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/437127/796089/restricted"
                    alt="Color Scheme Painting" class="painting">
            </div>

            <form method="POST" action="{{ url_for('quiz', question_id=2) }}">
                {% if error %}
                <p style="color: red; text-align: center;">{{ error }}</p>
                {% endif %}
                <div class="color-options">
                    <button type="submit" class="color-choice" name="answer"
                        value="Complementary">Complementary</button>
                    <button type="submit" class="color-choice" name="answer" value="Analogous">Analogous</button>
                    <button type="submit" class="color-choice" name="answer" value="Triadic">Triadic</button>
                </div>
            </form>

        </div>
    </body>

</html>